@font-face {
    font-family: "NanumSquare";
    src: url(../../../font/NanumSquareR.woff);
}

body {
    margin: 0;
    font-family: "NanumSquare";
}
div {
    box-sizing: border-box;
}

/* Layout Start */

.container {
    width: 100%;
    height: 100%;
    /* background-color: #eee; */
}

.header {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to bottom left, rgb(92, 207, 252), rgb(99, 40, 249));    
    padding-right: 100px;
    /* float: left; */
}
.content {
    width: 100%;
    height: 250px;
    background-color: white;
    text-align: center;
}
.services {
    width: 100%;
    height: 400px;
    background-color: rgb(103, 103, 216);
}
.portfolio {
    width: 100%;
    height: 150px;
    background-color: white;
    text-align: center;
}
.img {
    width: 85%;
    height: 800px;
    background-color: blue;
    margin: auto;
}
.footer {
    width: 100%;
    height: 400px;
    background-color: white;
}
/* Layout End */


.header-text {
    width: 400px;
    height: 300px;
    color: white;
    position: relative;
    top: 100px;
    left: 100px;
    font-family: "NanumSquare";
}
.btn {
    font-size: 16px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(87, 87, 87);
}
.btn:hover {
    background-color: rgb(57, 57, 57);
    cursor: pointer;
}
.btn:active {
    background-color: black;
}
.header-img {
    float: right;
    position: relative;
    bottom: 50px;
    /* 이미지 크기가 450px * 450px 넘어가면 왜 밑에 h2가 망가지냐... */
    z-index: 2000;
}

.content h2,p {
    margin: 0;
    padding-bottom: 20px;
}
.content h2 {
    padding-top: 50px;
    position: relative;
}
.services-header {
    width: 100%;
    height: 30%;
    text-align: center;
    color: white;
}
.services-header p {
    padding-top: 30px;
    margin-bottom: 0;
}
.services-header h3 {
    margin-top: 0;
}
.services-icon {
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
}
.services-icon div {
    float: left;
    width: 25% ;
    text-align: center;
    color: white;
}
.services-icon i {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: rgb(103, 103, 216);
}

.portfolio h1, .portfolio p {
    margin: 0;
}
.portfolio p {
    padding-top: 50px;
    padding-bottom: 0;
} 

.img>div {
    width: 50%;
    height: 50%;
    float: left;
    overflow: hidden;
    position: relative;
}
.img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    transition: all 0.5s;
}
.img-overlay:hover {
    border: 30px white solid;
}
.img-overlay h2, .img-overlay p {
    margin: 0;
    padding-left: 50px;
}
.img-overlay h2 {
    padding-top: 100px;
    padding-bottom: 30px;
}

.footer-icon {
    width: 40%;
    height: 100%;
    margin: auto;
}
.footer-icon div {
    float: left;
    width: 33%;
    text-align: center;
    color: white;
    margin-top: 100px;
    float: left;
}
.footer-icon i {
    width: 100px;
    height: 100px;
    background-color: darkblue;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
}
.footer-icon p {
    text-align: center;
    position: relative;
    top: 100px;
}

@media screen and (max-width: 998px) {
    .header-img {
        width: 400px;
        height: 400px;
        bottom: 0;
    }
    .services {
        height: 600px;
    }
    .services-icon div {
        width: 50% ;
    }

}
@media screen and (max-width: 840px) {
    .img>div {
        width: 100%;
    }
    .footer-icon div {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .header-img {
        width: 300px;
        height: 300px;
        top: 100px;
    }
    .services {
        height: 1000px;
    }
    .services-icon {
        height: 85%;
    }
    .services-header {
        height: 15%;
    }
    .services-icon div {
        width: 100% ;
    }

}